

{% extends "base.html" %}

{% block body %}

<div class="containter.fluid">
<div class="row">
<div class="col-1"></div>
<div class="col-10">

    <h1>
    {% if currUser.image %}
        <img class="img-thumbnail" width = "100" src="data:image;base64,{{base64encode(currUser.image.read())}}">
    {% else %}
        <img class="img-thumbnail" width = "100" src="/static/oths.jpg">
    {% endif %}
    {{currUser.fullName}} {% if currUser.pronouns %}({{ currUser.pronouns }}){% endif %}
    </h1>
    {% if currUser.lastlogin %}
        <small>Last login: {{moment(currUser.lastlogin).calendar()}}</small>
    {% endif %}
    <hr>
    <div class="row">
        <div class="col-8">
            <h2>{{currUser.role.title()}}</h2>
        </div>
        <div class="col-4">
            {% if currUser.role.lower() == 'student' %}
            <a href="/plan/{{currUser.gid}}" class="btn btn-primary btn-sm" role="button">Student's Plan</a> 
            <a href="#compborrow" class="btn btn-primary btn-sm" role="button">Computer Checkout Section</a> 
            {% endif %}
        </div>
    </div>
    
    {% if currUser.role.lower() == "teacher" %}
        <div class="row">
            <div class="col-2"></div>
            <div class="col-10">
                <small>These valuables are only visible to the site administrators and are used to manage communications on the site.</small>
            </div>
        </div>
        <div class="row">
            <div class="col-2"><a class="btn-sm btn-primary" href="/editprofile">Edit</a></div>
            <div class="col-5">
                email: {{currUser.otemail}} <br>
                mobile: {{formatphone(currUser.mobile)}}
            </div>
            <div class="col-5">
                Room: {{currUser.troom}} <br>
                Teacher Aeries Number: {{currUser.tnum}}
            </div>
        </div>
        <h3>
            My Groups
            <a href="/newgroup"><img width="20" src="static/new.png"></a>
        </h3>
        {% if groups %}

        {% for group in groups %}
        <a data-bs-toggle="collapse" href="#collapse{{loop.index}}" role="button" aria-expanded="false" aria-controls="collapse{{loop.index}}">
            <img width="20" src="static/collapse.png">
        </a>
            {% set ns = namespace(emails="") %}
            {% for stu in group.students %}
                {% set ns.emails = ns.emails + stu.otemail + ", " %}
            {% endfor %}
            <a data-toggle="tooltip" data-placement="top" title="Send a txt msg to everyone" href="/groupmsgto/{{group.id}}"><img width="20" src="static/txt.png"></a>
            <a data-toggle="tooltip" data-placement="top" title="Delete this group" href="/deletegroup/{{group.id}}"><img width="20" src="static/delete.png"></a>
            <a data-toggle="tooltip" data-placement="top" title="Get Parent Emails" href="/groupaddresses?emails={{ns.emails}}">P's</a> | 
            <b>{{group.name}} ({{group.students|length}}):</b> {{group.desc}} <br>
            <div class="collapse" id="collapse{{loop.index}}">
            {{ns.emails}}
            <br>
        </div>
        {% endfor %}
        {% else %}
        No Groups Yet. make some --> <a href="/newgroup"><img width="20" src="static/new.png"></a>
        {% endif %}
        <hr>
    {% else %} <!--end if teacher-->
        <div class="row">
            <div class="col-3 border">
                <h4>Student's Preferred Info <a class="btn-sm btn-primary" href="/editprofile/{{currUser.aeriesid}}">Edit</a></h4>
            </div> 
            <div class="col-1"></div>
            <div class="col-2 border" >
                <h4>
                    <a target='_blank' href='https://aeries.ousd.org/Helpers/SetStudentAndRedirect.aspx?ID={{currUser.aeriesid}}&DU=StudentProfile.aspx'>Aeries Info</a>
                </h4>
            </div>  
            <div class="col-6 border" >
                <small>Aeries information is confusing and often inaccurate. Please click the Add Adult button below to add {{currUser.aadults}} and any other adults that would like to receive information.</small>
            </div> 
        </div>
        <div class="row">
            <div class="col-3">
                <b>Name:</b> {% if currUser.ufname %}{{currUser.ufname}} {% endif %} 
                                {% if currUser.ulname %} {{currUser.ulname}} {% endif %} <br>
                <b>Pronouns:</b> {% if currUser.pronouns %} {{currUser.pronouns}} {% endif %} <br>
                <b>Mobile:</b> 
                {% if currUser.mobile %}
                    <a href="/msg/{{currUser.aeriesid}}/{{currUser.mobile}}">{{formatphone(currUser.mobile)}}</a>
                {% endif %}<br>
                <b>Other Phone:</b> {% if currUser.altphone %}{{formatphone(currUser.altphone)}}{% endif %} <br>
                <b>Personal Email:</b> {% if currUser.personalemail %}{{currUser.personalemail}}{% endif %} <br>
                <b>Gender:</b> {% if currUser.ugender %}{{currUser.ugender}} {% endif %}<br>
                <b>Ethnicity:</b> 
                {% if currUser.uethnicity %}
                        {% for ethnicity in currUser.uethnicity %}
                            {{ethnicity}}{% if loop.index < loop.length %}, {% endif %}
                        {% endfor %} 
                {% endif %}<br>
                {% if currUser.uethnicityother %}<b>Ethnicity (non-OUSD Description):</b> {{currUser.uethnicityother}}<br>{% endif %} 
                <b>Address: </b> <br>
                &nbsp;&nbsp;&nbsp;{% if currUser.ustreet %}{{currUser.ustreet}}{% endif %} <br>
                &nbsp;&nbsp;&nbsp;{% if currUser.ucity %}{{currUser.ucity}}{% endif %} 
                                    {% if currUser.ustate %}{{currUser.ustate}}{% endif %}  
                                    {% if currUser.uzipcode %}{{currUser.uzipcode}}{% endif %}
            </div>
            <div class="col-1"></div>
            <div class="col-3">
                <b>Aeries Name:</b> {{currUser.afname}} {{currUser.alname}} <br>
                <b>OUSD Email:</b> {{currUser.otemail}} <br>
                <b>Home Phone:</b> {{currUser.aphone}} <br>
                <b>Adults:</b>  {{currUser.aadults}} <br>
                <b>Adult 1 Phone:</b>  {{currUser.aadult1phone}} <br>
                <b>Adult 2 Phone:</b>  {{currUser.aadult2phone}} <br>
                <b>Adult Email:</b>  {{currUser.aadultemail}} <br>
                <b>Address:</b> <br>
                &nbsp;&nbsp;&nbsp;{{currUser.astreet}} <br>
                &nbsp;&nbsp;&nbsp;{{currUser.acity}} {{currUser.astate}}  {{currUser.azipcode}}
            </div>
            <div class="col-5">
                <b>AeriesID:</b> {{currUser.aeriesid}} <br>
                <b>Grade:</b> {{currUser.grade}} <br>
                <b>Gender:</b> {{currUser.agender}} <br>
                <b>Ethnicity</b> {{currUser.aethnicity}} <br>
                <b>Language Fluency:</b> {{currUser.langflu}} <br>
                {% if currUser.sped %}<b>SPED:</b> {{currUser.sped}}<br>{% endif %}
                <b>AGPA:</b> {{currUser.gpa}} <br>
                <b>Academy/House:</b> {{currUser.cohort}} <br>
                {% if session.isadmin %}
                {% if currUser.casemanager %}
                    <b>Case Manager: </b>{{currUser.casemanager}}
                {% endif %}
                <form method=post>
                    {{ form.hidden_tag() }}
                    <b>Academy/House: </b>{{ form.cohort() }}<br>
                    <b>Case Manager: </b>{{ form.casemanager }} <br>
                    {{form.submit()}}
                </form>
                {% endif %}
            </div>


            <div class="col-12"><br></div>

            <div class="col-12 border">
                <h4>
                    Adults  
                    <a class="btn-sm btn-primary" href="/addadult/{{currUser.aeriesid}}">Add Adult</a> <br>

                </h4>
            </div>

            {% if not currUser.adults %}
                <p><small>
                    <span class="text-danger"><b>You have not added any adults to your profile yet.</b></span> Please <a href="/addadult/{{currUser.aeriesid}}">add</a>  <b>{{currUser.aadults}}</b> and any other adults here so that we have the correct information. 
                    You can designate any/all of these adults as "preferred" and add notes about each of them.
                </small></p>
            {% endif %}
            <table class="table">
            {% for adult in currUser.adults %}
            <thead class="thead-light">
                <tr>
                    <th></th><th>Relation</th><th>Name</th><th>mobile</th><th>Alt Phone</th><th>email</th><th>Alt Email</th>
                </tr>
            </thead>
                <tr>
                    <td class="text-success">
                        {% if adult.preferredcontact %}
                            <b>Preferred</b>
                        {% endif %}
                    </td>
                    <td><b>{{adult.relation}}</b></td>
                    <td>{{adult.fname}} {{adult.lname}}</td>
                    <td>
                        {% if adult.mobile %}
                            <a href="/msg/{{currUser.aeriesid}}/{{adult.mobile}}">{{formatphone(adult.mobile)}}</a>
                        {% endif %}
                    </td>
                    <td>{% if adult.altphone %}{{formatphone(adult.altphone)}}{% endif %}</td>
                    <td>{{adult.email}}</td>
                    <td>{{adult.altemail}}</td>
                </tr>
                {% if adult.street %}
                <tr>
                    <td></td>
                    <td><b>Address:</b></td>
                    <td>{{adult.street}}</td>
                    <td>{{adult.city}}</td>
                    <td>{{adult.state}}</td>
                    <td>{{adult.zipcode}}</td>
                </tr>
                {% endif %}
                <tr>
                    <td>
                        <a class="btn-sm btn-primary" href="/editadult/{{currUser.aeriesid}}/{{adult.oid}}">Edit</a> 
                        <a class="btn-sm btn-primary" href="/deleteadult/{{currUser.aeriesid}}/{{adult.oid}}">Delete</a> 
                    </td>
                    <td><b>Notes:</b></td>
                    <td colspan="3">{{adult.notes}}</td>
                    {% if adult.primarylang %}
                    <td>Primary Language<br>{{adult.primarylang}}</td>
                    {% endif %}
                    {% if adult.needstranslation %}
                    <td>Needs Translation<br>{{adult.needstranslation}}</td>
                    {% endif %}
                </tr>
            {% endfor %}
            </table>
            {% if currUser.lastedited %}
                <small>Last Edits: 
                {% for edit in currUser.lastedited %}
                    {% if loop.index < 11 %}
                    {{moment(edit[0]).calendar()}} by {{edit[1].afname}} {{edit[1].alname}}, 
                    {% endif %}
                {% endfor %}</small> 
            {% endif %}
            <div class="col-12">
            <hr>
            </div>
            <div class="col-12">
                <h3>Classes</h3> 
                {% if currUser.id|string() == session.currUserId|string() and session.role.lower() == "student" %}
                    <td colspan = "2">
                        <a href="/checkin" class="btn btn-primary btn-sm" role="button">Edit Your Classes</a> <br>
                        <small>* If the list below is wrong, click the Edit Your Classes button.</small>
                    </td>
                {% endif %}
                    {% if currUser.gclasses %}
                        <table class="table">
                            <tr>
                                <th>Status</th>
                                <th>Class</th>
                                <th>Teacher</th>
                                <th>
                                </th>
                            </tr>
                        {% for class in currUser.gclasses %}
                            {% if class.gclassroom and class.status == "Active" %}
                                <tr>
                                    <td>{{class.status}}</td>
                                    <td>
                                        <a href="{{class.gclassroom.gclassdict.alternateLink}}">{{class.gclassroom.gclassdict.name}}</a> <br>
                                    </td>
                                    <td>{% if class.gclassroom.gteacherdict %}{{class.gclassroom.gteacherdict.name.fullName}}{% endif %}</td>
                                    <td>
                                        {% if class.nummissing|int > 0 %}
                                            {% if currUser.gid == session.gid %}
                                                <a href="{{class.missinglink}}">
                                                    {{class.nummissing}} 
                                                </a>
                                            {% else %}
                                                {{class.nummissing}}
                                            {% endif %}
                                        {% endif %}
                                    </td>
                                </tr>
                            {% endif %}
                        {% endfor %}
                        {% for class in currUser.gclasses %}
                        {% if class.gclassroom and class.status == "Inactive" %}
                            <tr>
                                <td>{{class.status}}</td>
                                <td>
                                    <a href="{{class.gclassroom.gclassdict.alternateLink}}">{{class.gclassroom.gclassdict.name}}</a>
                                </td>
                                <td>{% if class.gclassroom.gteacherdict %}{{class.gclassroom.gteacherdict.name.fullName}}{% endif %}</td>
                                <td>{% if class.nummissing %}{{class.nummissing}}{% endif %}</td>
                            </tr>
                        {% endif %}
                        {% endfor %}
                        {% for class in currUser.gclasses %}
                        {% if class.gclassroom and not class.status %}
                            <tr>
                                <td>{{class.status}}</td>
                                <td><a href="{{class.gclassroom.gclassdict.alternateLink}}">{{class.gclassroom.gclassdict.name}}</a></td>
                                <td>{% if class.gclassroom.gteacherdict %}{{class.gclassroom.gteacherdict.name.fullName}}{% endif %}</td>
                            </tr>
                        {% endif %}
                        {% endfor %}
                        </table>
                    {% endif %}
            </div>
        </div>
    
        <div class="col-1"></div>
        </div>
        </div>
        <div class="row">
            <div class="col-1"></div>
            <div class="col-10 border">
                <h3>
                    Activities
                    <a class="btn btn-primary btn-sm" href="/sendstudentemail/{{currUser.aeriesid}}">New Email</a>
                    {% if not session.role.lower() == 'student' %}
                        <a class="btn btn-primary btn-sm" href="/studentnote/{{currUser.aeriesid}}">New Note</a>
                        <a class="btn btn-primary btn-sm" href="/msg/{{currUser.aeriesid}}">Text Msgs </a>
                    {% endif %}
                    <br>
                    <a class="btn-sm btn-primary" data-bs-toggle="collapse" href="#collapseActivities" role="button" aria-expanded="false" aria-controls="collapseActivities">
                        Show/Hide
                    </a>
                </h3>
            </div>
            <div class="col-1"></div>
        </div>
        <div class="collapse" id="collapseActivities">
            {% if currUser.notes and not session['role'].lower() == "student"%}
            <div class="row">
                <div class="col-1"></div>
                <div class="col">
                    <h3>Notes</h3>
                    <table class="table">
                        <thead class="thead-light">
                            <tr>
                                <th>Date</th><th>Author</th><th>Type</th>
                            </tr>
                        </thead>
                        {% for note in currUser.notes|sort(attribute='date') %}
                            <tr>
                                <td>
                                    {% if session.isadmin %}
                                    <a class="btn btn-primary btn-sm" href="/deletenote/{{currUser.aeriesid}}/{{note.oid}}">Delete</a>
                                    {% endif %}
                                    {{note.date.strftime('%m-%d-%Y')}}
                                </td>
                                <td>{{note.author.afname}} {{note.author.alname}}</td><td>{{note.type_}}</td>
                            </tr>
                            <tr>
                                <td colspan="3">{{note.content}}</td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
                <div class="col-1"></div>
            </div>

        {% endif %} <!--student.notes-->
        {% if currUser.communications %}
        <div class="row">
            <div class="col-1"></div>
            <div class = "col-10">
                <h3>Communications</h3>
                <table class="table">
                    <thead class="thead-light">
                    <tr>
                        <th>Date</th>
                        {% if not session.role.lower() == 'student' %}
                        <th>
                            Visibility
                        </th>
                        {% endif %}
                        <th>Type</th>
                        <th>From</th>
                        <th>To</th>
                    </tr>
                    
                {% for comm in currUser.communications|sort(attribute='date') %}
                {% if (not session.role.lower() == "student") or (session.role.lower() == "student" and not comm.confidential) %}
                    <tr>
                        <th>{{moment(comm.date).calendar()}}</th>
                        {% if not session.role.lower() == 'student' %}
                            <th>
                                {% if comm.confidential %}
                                Not visible to student
                                {% else %}
                                Visible to student
                                {% endif %}
                            </th>
                        {% endif %}
                        <th>{{comm.type_}}</th><th>{{comm.fromwho.afname}} {{comm.fromwho.alname}} ({{comm.fromwho.role}})</th><th>{{comm.to}}</th>
                    </tr>
                    {% if comm.body or comm.subject %}
                    <tr>
                        <td>
                            {% if session.isadmin %}
                            <a href="/deletecommunication/{{currUser.aeriesid}}/{{comm.oid}}" class="btn btn-primary btn-sm" role="button">Delete</a>
                            {% endif %}
                        </td>
                        <td colspan="4"> 
                            {% if comm.subject %}{{comm.subject}}<br>{% endif %}
                            {% if comm.body %}{{comm.body}}{% endif %}
                        </td>
                    </tr>
                    {% endif %}
                {% endif %}
                {% endfor %}
                    </thead>
                </table>
            </div>
            <div class="col-1"></div>
        </div>
        {% endif %} <!--if currUser.communications-->
        </div><!--End of collapse div-->
        <a id="compborrow"></a>
        <div class="row"><br><br></div>
        <div class="row">
            <div class="col-1"></div>
            <div class="col-10 border">  
                <h3>
                    Borrowed Computer 
                    <a href="/compborrow/{{currUser.aeriesid}}" class="btn btn-primary btn-sm" role="button">Computer Checkout</a> 
                    {% if currUser.compequiptype %}
                    <a href="/compdelete/{{currUser.aeriesid}}" class="btn btn-primary btn-sm" role="button">Delete this Computer</a> 
                    {% endif %}
                </h3>
                {% if currUser.compequiptype %}Type: {{currUser.compequiptype}}{%endif%}
                {% if currUser.compidnum %}ID#: {{currUser.compidnum}}{%endif%}
                {% if currUser.compstickernum %}Sticker#: {{currUser.compstickernum}}{%endif%}
                {% if currUser.compdateout %}Checked out: {{currUser.compdateout}}{%endif%}
                {% if currUser.compdatereturned %}Returned{{currUser.compdatereturned}}{%endif%}
                {% if currUser.compstatus %}Status: {{currUser.compstatus}}{%endif%}
                {% if currUser.compstatusdesc %}Description: {{currUser.compstatusdesc}}{%endif%}
            </div>
   
            <div class="col-1"></div>
        </div>
        <div class="row"><br><br></div>
        <div class="row">
            <div class="col-1"></div>
            <div class="col-10 border">
                {% if checkins %}
                <br><br>
                    <h3>Check Ins (last 15)</h3>
                    <table class="table">
                    <tr>
                        <td></td><th>Class</th><th>Date</th><th>Status (1-5)</th>
                    </tr>
                    {% for checkin in checkins | sort(attribute='createdate', reverse = True) %}
                        <tr>
                        <td>
                            <a class="btn btn-primary btn-sm" role="button" href="/deletecheckin/{{checkin.id}}">Delete</a>
                        </td>
                        <td>
                            {{checkin.gclassname}}
                        </td>
                        <td>
                            {{moment(checkin.createdate).calendar()}}
                        </td>
                        <td>{{checkin.status}} </td>
                        </tr>
                        <tr><th>Working on</th><td colspan="3"> {{checkin.desc}}</td></tr>
                    {% endfor %}
                    </table>
                {% endif %}<!-- CheckIns -->
            </div>
            <div class="col1"></div>
        </div>
        
    {% endif %}<!--End of is Student If-->
    <br><br><br><br><br><br><br><br><br><br>


    <a class="btn-sm btn-primary" data-bs-toggle="collapse" href="#collapseDeBug" role="button" aria-expanded="false" aria-controls="collapseDebug">
        Show/Hide DeBug Values
    </a>
    <div class="container collapse" id="collapseDeBug">
        {{today}} <br>
        {{moment(today).calendar()}}
        <h3>The User Object from this site</h3>
        <table class="table">
        {% for item in currUser %}
        <tr>
            <td>{{item}}</td> <td> {{ currUser[item] }}</td>
        </tr>
        {% endfor %}
        </table>

        <h3>The Data Object from Google</h3>
        <table class="table">
        {% for item in data %}
        <tr>
            <td>{{ item }}</td> <td>{{data[item]}}</td>
        </tr>
        {% endfor %}
        </table>

        <h3>The Session Object</h3>
        <table class="table table=sm">
        {% for item in session %}
        <tr>
            <td>{{ item }}</td> <td>{{session[item]}}</td>
        </tr>
        {% endfor %}
        </table>

        <h3>Request Object</h3>
        user_agent: {{ request.user_agent }} <br>
        host: {{ request.host }} <br>
        host_url: {{ request.host_url }} <br>
        is_secure: {{ request.is_secure }} <br>
        scheme: {{ request.scheme }} <br>
        values: {{ request.values }} <br>
        view_args: {{ request.view_args }} <br>
        headers: {{request.headers}} <br>
        remote_addr: {{request.headers.get('X-Forwarded-For', request.remote_addr)}}
        <hr>
        <b>request.environ</b> <br>
        {% for item in request.environ %}
            <u>{{ item }}:</u> {{request.environ[item]}} <br>
        {% endfor %}
        
    </div>

    <br><br><br>
</div>

{% endblock %}

