{% extends 'base.html' %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-2"></div>
        <div class="col-8">
    <form method=post>
        {{ dateForm.hidden_tag() }}{{ dateForm.querydate() }} 
        <span class="loadingModal">{{dateForm.submitDateForm()}}</span>
    </form>

    {% if gclassname %}
    <h3>Checkins Since <span class="showDate"></span> in {{gclassname}}</h3>
    {% endif %}

    {% for field in dateForm.errors %}
        {% for error in dateForm.errors[field] %}
            <div class="alert alert-error">
                <strong>Error!</strong>{{field}}: {{error}}
            </div>
        {% endfor %}
    {% endfor %}

    {% if usersdict%}

            <table class="table">
                <tr>
                    <th>Student</th>
                    <th>Total Checkins</th>
                    <th>Ave Status</th>
                </tr>
            {% for stu in usersdict %}
                <tr>
                    <td>
                        <a data-bs-toggle="collapse" href="#collapseCheckins{{loop.index}}" aria-expanded="false" aria-controls="collapseRoster">
                            <img src="/static/collapse.png" width="20">
                        </a>
                        {{stu[0].fname}} {{stu[0].lname}}
                    </td>
                    <td>{{stu[1][0][0]}}</td>
                    <td>{{stu[1][0][1]}}</td>
                    <tr>
                        <td colspan="3">
                        <div class="collapse" id="collapseCheckins{{loop.index}}">
                        {% for checkin in stu[1] %}
                            {% if not loop.first %}
                                <b>{{moment(checkin.createdate).calendar()}}</b> <br>
                                <u>Since last time:</u> {{checkin.status}} {{checkin.desc}} <br>
                                <u>Working On:</u> {{checkin.workingon}} <br>
                            {% endif %}
                        {% endfor %}
                        </div>
                    </td>
                    </tr>
                </tr>
            {% endfor %}
            </table>
    
        </div>
        <div class="col-2"></div>
    </div>

    {% else %}
        No checkins. <br>
    {% endif %}
</div>

<script type="text/javascript">
    // momentjs has a lot more options than flask-moment
    // I use it here because falsk-moment assumes are datetimes are UTC and this is sent as 
    // 'US/Pacific' not naive and momentjs can recognize that.
    // Also, I can customize how moment.calendar() writes, in this case, removing the time.
    jQuery(document).ready(function() {
 
        var searchDateMoment = moment('{{searchdatetime}}').calendar(null,{
            lastDay : '[Yesterday]',
            sameDay : '[Today]',
            nextDay : '[Tomorrow]',
            lastWeek : '[Last] dddd',
            nextWeek : 'dddd',
            sameElse : 'L'
        })

        $('.showDate').html(searchDateMoment);

    });

</script>

{% endblock %}

