{% extends 'base.html' %}

{% block body %}
<div class="container">
    Checkins Since <br>
    <form method=post>
        {{ dateForm.hidden_tag() }}{{ dateForm.querydate() }} 
        <span class="loadingModal">{{dateForm.submitDateForm()}}</span>
    </form>

    {% if gclassname %}
    <h3><span class="showDate"></span> in {{gclassname}}</h3>
    {% endif %}

    {% for field in dateForm.errors %}
        {% for error in dateForm.errors[field] %}
            <div class="alert alert-error">
                <strong>Error!</strong>{{field}}: {{error}}
            </div>
        {% endfor %}
    {% endfor %}

    {% if usersdict%}

    <div class="row">
        <div class="col-2"></div>
        <div class="col-8">

            <table class="table">
                <tr>
                    <th>Student</th>
                    <th>Total Checkins</th>
                    <th>Ave Status</th>
                </tr>
            {% for stu in usersdict %}
                <tr>
                    <td>{{stu[0].fname}} {{stu[0].lname}}</td>
                    <td>{{stu[1][0]}}</td>
                    <td>{{stu[1][1]}}</td>
                </tr>
            {% endfor %}
            </table>
    
        </div>
        <div class="col-2"></div>
    </div>

    {% else %}
        No checkins. <br>
    {% endif %}
</div>

<script type="text/javascript">
    // momentjs has a lot more options than flask-moment
    // I use it here because falsk-moment assumes are datetimes are UTC and this is sent as 
    // 'US/Pacific' not naive and momentjs can recognize that.
    // Also, I can customize how moment.calendar() writes, in this case, removing the time.
    jQuery(document).ready(function() {
 
        var searchDateMoment = moment('{{searchdatetime}}').calendar(null,{
            lastDay : '[Yesterday]',
            sameDay : '[Today]',
            nextDay : '[Tomorrow]',
            lastWeek : '[Last] dddd',
            nextWeek : 'dddd',
            sameElse : 'L'
        })

        $('.showDate').html(searchDateMoment);

    });

</script>

{% endblock %}

