{% extends 'base.html' %}

{% block body %}

<div class="container">
    <div class="row bg-light border border-3 p-3 mb-3">
        <div class="col-4">
            <h2>
                {% if plan.student.aeriesid %}
                    Success Plan <br> <a href="/profile/{{plan.student.aeriesid}}">{{plan.student.afname}} {{plan.student.alname}}</a> 
                {% else %}
                    Success Plan <br> <a href="/profile">{{plan.student.afname}} {{plan.student.alname}}</a> 
                {% endif %}
            </h2>
        </div>
        <div class="col-4">
            <h6>
                Plan Status: 
                {% if status == 2 %}
                <font color="green">Complete</font>
                {% elif status == 1 %}
                <font color="orange"><br>Add at least 3 Ideal Outcomes</font>
                {% elif status == 0 %}
                <font color="orange"><br><a href="/planthemenew/{{plan.id}}">Create a Theme</a> and add at least 3 Ideal Outcomes</font>
                {% endif %}
                {% if numActiveThemes > 1 %}
                    <br><br><font color="Orange"><i>You have more than one active theme. Please please edit old themes.</i></font>
                {% endif %}
            </h6>
        </div>
        <div class="col-4">
            <h6>
                Time: {{settings.timeframe}}
                {% if session['isadmin'] %}
                    <a href="/plansettings"><img width="20" src="/static/edit.png"></a>
                {% endif %}
            </h6>
            <h6>Current: <span id="settingstf"> </span></h6>
        </div>
    </div>

    <div class="row">
        <div class="col-12 bg-light border border-2 p-3 mb-3">
            <h2>
                Theme
                {% if numActiveThemes == 0 %}
                    <a href="/planthemenew/{{plan.id}}"><img width="30" src="/static/new.png"></a>
                {% endif %}
            </h2>
            <a href="#themevideo"> What is a theme?</a>
        </div>
        {% if plan.themes %}
            {% for theme in plan.themes %}
            {% if not theme.old %}
                <div class="col-md-4 ps-3">
                    <h3>
                        <span id="settingstf2"> </span> of {{ theme.name }} <br>
                        {% if plan.student.gid == session.gid or session.isadmin %}
                            {% if theme.idealoutcomes %}
                                <a class='plancheckin' data-toggle="tooltip" data-placement="top" title="Checkin" href="/plancheckin/{{plan.student.gid}}/{{theme.oid}}">
                                    <img width="30" src="/static/checkin.png">
                                </a>
                
                                <a class='plancheckinoff' data-toggle="tooltip" data-placement="top" title="You have already checkedin today. You can delete or edit today's checkin.">
                                    <img width="20" src="/static/checkinoff.png">
                                </a>
                            {% endif %}
                            <a href="/planthemeedit/{{plan.id}}/{{theme.oid}}"><img width="30" src="/static/edit.png"></a>
                            <a href="/planthemedelete/{{plan.id}}/{{theme.oid}}"><img width="30" src="/static/delete.png"></a>

                        {% endif %}
                    </h3>
                </div>
                <div class="col-md-8">
                    {{ theme.description }}
                </div>
                <div class="col-12 ms-3 bg-light border border-2 my-3">
                    <h5>
                        Ideal Outcomes
                        <a href="/planidealoutcomenew/{{plan.id}}/{{theme.oid}}"><img width="20" src="/static/new.png"></a>
                    </h5>
                    <em>An ideal outcome is something that will result from practice, effort and attention to <strong>{{theme.name}}</strong> over the course of a <b>{{theme.timeframe}}</b>.</em>
                    
                </div>
                {% if theme.idealoutcomes %}
                    {% for idealoutcome in theme.idealoutcomes %}
                        <div class="col-md-4 ms-3 ps-5">
                            <b>{{idealoutcome.name}}</b> <br> <small><b>Example<img width="20" src="/static/checkin.png">:</b> {{idealoutcome.example}}</small>
                            {% if plan.student.gid == session.gid or session.isadmin %}
                            <br>
                            <a data-toggle="tooltip" data-placement="top" title="Edit" href="/planidealoutcomeedit/{{plan.id}}/{{theme.oid}}/{{idealoutcome.oid}}"><img width="30" src="/static/edit.png"></a>
                            <a data-toggle="tooltip" data-placement="top" title="Delete" href="/planidealoutcomedelete/{{plan.id}}/{{theme.oid}}/{{idealoutcome.oid}}"><img width="30" src="/static/delete.png"></a>
                            {% endif %}
                        </div>
                        <div class="col-md-7">
                            {{idealoutcome.description}} <br>
                            <hr>
                        </div>
                    {% endfor %}
                {% else %}
                <div class="col-12 ms-3 ps-5">
                    <h5>
                        <font color="orange">You have no Ideal Outcomes yet for this theme.</font> Click <a href="/planidealoutcomenew/{{plan.id}}/{{theme.oid}}"><img width="20" src="/static/new.png"></a>
                        to create on now!
                    </h5>
                </div>
                {% endif %}
            {% endif %}
            {% endfor %}
            <div class="col-12">
                <div class="row">
                    {% if checkins|length > 0 %}
                        <hr>
                        <div class="col-12"><h5>Checkins</h5></div>
                        {% for checkin in checkins | sort(attribute='createdate', reverse = True) %}
                            <div class="col">
                                <b>{{moment(checkin.createdate).calendar()}}</b> <br>
                                <b>Focus:</b> 
                                {% for focus in checkin.todayfocus %}
                                {{focus}}{% if not loop.last %}, {% endif %} 
                                {% endfor %} <br>
                                <b>I said I would:</b> {{checkin.todaynarrative}} <br>
                                {% if checkin and checkin.yesterdayrating %}
                                <b>Rating of last checkin</b> ({{moment(checkin.previousreference.createdate).calendar()}}): {{checkin.yesterdayrating}} <br>
                                {% if checkin.yesterdaynarrative %}
                                <b>Notes on rating:</b> {{checkin.yesterdaynarrative}} <br>
                                {% endif %}
                                {% endif %}
                                <a href="/plancheckindelete/{{checkin.id}}/{{plan.student.gid}}"><img width="30" src="/static/delete.png"></a>
                                <a href="/plancheckinedit/{{checkin.id}}/{{plan.student.gid}}"><img width="30" src="/static/edit.png"></a>
                            </div>
                        {% endfor %}
                    {% endif %}
                </div>
                <hr>
                <div class="row">
                    <div class="col">
                        <h5>Old Themes:</h5>
                        {% for theme in plan.themes %}
                            {% if theme.old %}
                                {% if plan.student.gid == session.gid or session.isadmin %}
                                    <a href="/planthemeedit/{{plan.id}}/{{theme.oid}}"><img width="30" src="/static/edit.png"></a>
                                    <a href="/planthemedelete/{{plan.id}}/{{theme.oid}}"><img width="30" src="/static/delete.png"></a>
                                {% endif %}
                                {{ theme.timeframe }} of {{ theme.name }}
                                {% if theme.idealoutcomes %}
                                --> Ideal Outcomes:
                                    {% for io in theme.idealoutcomes %}
                                        {{io.name}} |
                                    {% endfor %}
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>

        {% endif %}
        <div class="row">
            <div class="col">
                <h5 class="mt-5"><a id="themevideo"></a>What is a Theme?</h5>
                <iframe width="450" height="315" src="https://www.youtube.com/embed/NVGuFdX5guE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>        
            </div>
        </div>
    </div>
</div>

{% include 'plans/planscripts.html' %}

<script type="text/javascript">
    //This is accessing the UTC value and generating a new moment object that is timezone aware
    var lastCheckin = moment(moment.parseZone('{{lastCheckin.createdate}}').format())
    // set the isUTC value to true
    lastCheckin = lastCheckin.utc() 
    console.log(lastCheckin)

    // Allow a checkin if there is no other checkins or the last checkin is not during today 
    // using the formet() method calculates on local browser time
    if (lastCheckin.format("DDD") == moment().format("DDD") && lastCheckin.format("YYYY") == moment().format("YYYY") ) {
        $('.plancheckin').hide();
        $('.plancheckinoff').show(); 
    } else {
        $('.plancheckin').show();
        $('.plancheckinoff').hide();       
    }
</script>

{% endblock %}