<!-- This is the navbar code. This code will be included in all of the template files. -->
<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid border mx-2">
    <a class="navbar-brand" href="/">CCPA</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    {% if not current_user.is_anonymous %}
    {% if current_user.role.lower() == "teacher" %}
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="#">DB: {{session['db']}}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/checkin">Classes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/communications">Utilities</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/findstudent">Find</a>
        </li>
      </ul>
    </div>
    {% endif %}
    <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="/myprojects">Projects</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/transcript/new">Transcripts</a>
        </li>
        {% if current_user.role.lower() == "student" %}
        <li class="nav-item">
          <a class="nav-link" href="/checkin">Classes/Checkin</a>
        </li>
        {% endif %}
        <li class="nav-item">
          <a class="nav-link" href="/profile">{{ current_user.gname }} {{ current_user.role }}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/logout">logout</a>
        </li>
        <li class="nav-item">
          <a data-toggle="tooltip" data-placement="top" title="This will revoke the privledges you gave to Google when you logged in."  class="nav-link" href="/revoke">revoke
          <img src="/static/info.png" width=15px style="background-color:white;"></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="today" href="/home"><!--Display the Date Here--></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="clock" href="/clock"><!--Display the time Here--></a>
        </li>
      </ul>
    </div>
    {% else %}
    <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
        </li>
        <li class="nav-item">
          <a data-toggle="tooltip" data-placement="top" title="Choose this if you have an ousd.org email address 
          AND you are an Oakland Tech Student or Staff." class="nav-link" href="/login">
            Log In (OUSD.org)
            <img src="/static/info.png" width=15px style="background-color:white;">
          </a>
        </li>

      </ul>
    </div>
    {% endif %}
  </div>
</nav>





