{% extends "base.html" %}

{% block body %}
<div class="container-fluid">    
  <div class="row">
  <div class="col-12">
    {% if currUser.id|string() == session.currUserId|string() %} <br>
      <a href="/gclasses" class="btn btn-info btn-sm" role="button">Update All My Classes from Google</a> <-- This script takes a little while to run.
    {% endif %}

    <h1>My Google Classes</h1>
    {% if gCourses %}
      <table class="table">
        <thead class="thead-light">
        <tr>
            <td nowrap>
              <img width="25" src="/static/edit.png"><b>E</b>dit <br>
              <img width="25" src="/static/delete.png"><b>D</b>elete
              {% if not session.role.lower() == 'student' %}<br>
                <img width="25" src="/static/roster.png"><b>R</b>oster<br>
                <img width="25" src="/static/checkin.png"><b>C</b>heckins
              {% endif %}
            </td>
            {% if session.role.lower() == 'student' %}
            <td>Work</td>
            {% endif %}
            <th>
              Status
            </th>
            <th>
              Link to Checkins            
            </th>
            <th>
              Teacher
            </th>
        </tr>
      </thead>
      {% if gCourses %}
      {% for class in gCourses | sort(attribute="status") %}
          <tr>
            <td nowrap>
              <a data-toggle="tooltip" data-placement="top" title="Edit Name" href="/editgclass/{{class.gclassid}}">
                <img width="25" src="/static/edit.png">
              </a>
              <a data-toggle="tooltip" data-placement="top" title="Delete" href="/deletegclass/{{class.gclassid}}">
                <img width="25" src="/static/delete.png">
              </a>
              {% if session['role'].lower() != 'student' %}
              <a class="waitMsg" data-toggle="tooltip" data-placement="top" title="Get Roster" href="/roster/{{class.gclassid}}">
                <img width="25" src="/static/roster.png">
              </a>
              <a class="waitMsg" data-toggle="tooltip" data-placement="top" title="Student Submissions" href="/studsubs/{{class.gclassid}}">
                <img width="25" src="/static/update.png">
              </a>
              <a class="waitMsg" data-toggle="tooltip" data-placement="top" title="CourseWork" href="/missingclass/{{class.gclassid}}">
                Missing - 
              </a>
              <a class="waitMsg" data-toggle="tooltip" data-placement="top" title="CourseWork" href="/getcoursework/{{class.gclassid}}">
                Update CourseWork
              </a>
              <a class="waitMsg" data-toggle="tooltip" data-placement="top" title="See CheckIns" href="/checkinsfor/{{class.gclassid}}">
                <img width="25" src="/static/checkin.png">
              </a>
              {% endif %}
            </td>
            {% if session['role'].lower() == 'student' %}
            <td>
              <a href="/student/getstudentwork/{{class.gclassid}}"><img width="25" src="/static/update.png"></a>
              {% if class.submissionsupdate %}
                <small>{{moment(class.submissionsupdate).calendar()}}</small>
              {% endif %}
            </td>
            {% endif %}
            <td>
              {% if class.status %}
                {{ class.status }}
              {% endif %}
            </td>
            <td>
              {% if class.status and class.status.lower() == 'active' %}
              <a href="/classdash/{{class.gclassid}}">
              {% endif %}
                {% if class.classname and class.classname != class.gclassroom.gclassdict.name %}
                  {{class.classname}} <br> <small>({{class.gclassroom.gclassdict.name}})</small>
                {% else %}
                  {{class.gclassroom.gclassdict.name}}
                {% endif %}
              {% if class.status and class.status.lower() == 'active' %}
              </a>
              {% endif %}
            </td>
            <td>
              {{class.gclassroom.gteacherdict['name']['fullName']}}
          </tr>
    {% endfor %}
    {% endif %}
      </table>
    {% endif %}
  </div>
{% endblock %}


