{% extends "base.html" %}

{% block body %}
<div class="container-fluid">    
  <div class="row">
  <div class="col-12">
    {% if currUser.id|string() == session.currUserId|string() %} <br>
      <a href="/getgclasses" class="btn btn-info btn-sm" role="button">Update All My Classes from Google</a> <-- This script takes a little while to run.
    {% endif %}

    <h1>My Google Classes</h1>
    <a href="/standard/list">Standards</a>
    {% if enrollments %}
      <table class="table">
        <thead class="thead-light">
        <tr>
            <td nowrap>
              <img width="25" src="/static/edit.png">Edit <br>
              
              {% if not session.role.lower() == 'student' %}
                <img width="25" src="/static/delete.png">Delete <br>
                <img width="25" src="/static/roster.png">Roster<br>
                <img width="25" src="/static/task.png">View Assignments<br>                
                <img width="25" src="/static/checkin.png">Checkins
              {% endif %}
            </td>
            {% if session.role.lower() == 'student' %}
            <td>Work</td>
            {% endif %}
            <th>
              Status
            </th>
            <th>
              Link to Checkins            
            </th>
            <th>
              Teacher
            </th>
        </tr>
      </thead>

      {% for enrollment in enrollments | sort(attribute="status") %}
          <tr>
            <td nowrap>
              <a data-toggle="tooltip" data-placement="top" title="Edit Name" href="/editgclass/{{enrollment.gclassroom.gclassdict.id}}">
                <img width="25" src="/static/edit.png">
              </a>
              <a data-toggle="tooltip" data-placement="top" title="Delete" href="/deletegclass/{{enrollment.gclassroom.gclassdict.id}}">
                <img width="25" src="/static/delete.png">
              </a>
              {% if session['role'].lower() != 'student' %}
              <a class="waitMsg" data-toggle="tooltip" data-placement="top" title="View Roster" href="/roster/{{enrollment.gclassroom.gclassdict.id}}">
                <img width="25" src="/static/roster.png">
              </a>
              <!-- <a class="waitMsg" data-toggle="tooltip" data-placement="top" title="# of Missing Assignments" href="/studsubs/{{enrollment.gclassroom.gclassdict.id}}">
                <img width="25" src="/static/missing.png">
              </a>
              <a class="waitMsg" data-toggle="tooltip" data-placement="top" title="Missing Assignments" href="/missingclass/{{enrollment.gclassroom.gclassdict.id}}">
                <img width="25" src="/static/missing.png">
              </a> -->
              <a class="waitMsg" data-toggle="tooltip" data-placement="top" title="View Assignments" href="/gclass/assignments/{{enrollment.gclassroom.gclassdict.id}}">
                <img width="25" src="/static/task.png">
              </a>
              <a class="waitMsg" data-toggle="tooltip" data-placement="top" title="View CheckIns" href="/checkinsfor/{{enrollment.gclassroom.gclassdict.id}}">
                <img width="25" src="/static/checkin.png">
              </a>
              {% endif %}
            </td>
            {% if session['role'].lower() == 'student' %}
            <td>
              <a href="/student/getstudentwork/{{enrollment.gclassroom.gclassdict.id}}"><img width="25" src="/static/update.png"></a>
              {% if class.submissionsupdate %}
                <small>{{moment(class.submissionsupdate).calendar()}}</small>
              {% endif %}
            </td>
            {% endif %}
            <td>
              {% if enrollment.status %}
                {{ enrollment.status }}
              {% endif %}
            </td>
            <td>
              <a href="/classdash/{{enrollment.gclassroom.gclassdict.id}}">
                  {% if enrollment.classnameByUser %}
                    {{enrollment.classnameByUser}} <br>
                    <small>({{enrollment.gclassroom.gclassdict.name}})</small>
                  {% else %}
                    {{enrollment.gclassroom.gclassdict.name}}
                  {% endif %}
              </a>
            </td>
            <td>
              {{enrollment.gclassroom.gteacherdict['name']['fullName']}}
            </td>
          </tr>
    {% endfor %}
      </table>
    {% endif %}
  </div>
{% endblock %}


