{% extends 'base.html' %}

{% block body %}
<div class="container">
    <form method=post>
        {{ dateForm.hidden_tag() }}{{ dateForm.querydate() }} 
        <span class="loadingModal">{{dateForm.submitDateForm()}}</span>
    </form>
    {% if gclassname %}
    <h3>Checkins for <span class="today">Today </span>{{gclassname}}</h3>
    {% endif %}

    {% for field in dateForm.errors %}
        {% for error in dateForm.errors[field] %}
            <div class="alert alert-error">
                <strong>Error!</strong>{{field}}: {{error}}
            </div>
        {% endfor %}
    {% endfor %}

    {% if stuFormErrors %}
    {% for field in stuFormErrors %}
        {% for error in stuFormErrors[field] %}
            <div class="alert alert-error">
                <strong>Error!--></strong>{{field}}: {{error}}
            </div>
        {% endfor %}
    {% endfor %}
    {% endif %}

    {% if checkins%}
    <span class="today">
        {% if session.isadmin == True %}
            <a class="btn btn-info btn-sm" role="button" href="/checkinsfor/{{gclassid}}/1">Send Txt Reminder to check in!</a> 
        {% endif %}
    </span>

    <br>
    <b>These students have not checked in</b><br>
    <em><u>To mark students as here, click the checkbox and hit submit.</u></em><br>
    {% if stuForm %}
        <form method=post>
            {{ stuForm.hidden_tag() }} 
            <div class="row">
                {% for student in stuForm.student %}
                    <div class="col-md-6 col-lg-4 col-xl-3">{{loop.index}}: {{ student }} {{ student.label }}</div>
                {% endfor %}
            </div>
            <span class="loadingModal">{{ stuForm.submitStuForm() }}</span>
        </form>
    {% endif %}

    <br>
    
    <b>Student Email Addresses</b> <br>
        {% for stu in notcheckedstus | sort(attribute="lname,fname")  %}
            {% if stu.gid %}
                {{stu.otemail}}, 
            {% endif %}
        {% endfor %}

    <br> <br> <b>Adult Emails:</b> <br>
    {% for stu in notcheckedstus | sort(attribute="lname,fname")  %}
        {% if stu.gid %}
            {% if stu.adults %}
                {% for adult in stu.adults %}
                    {% if adult.email %}
                        {{adult.email}},
                    {% elif stu.aadultemail %}
                        {{stu.aadultemail}}
                    {% endif %}
                {% endfor %}
            {% else %}
                {% if stu.aadultemail %}
                    {{stu.aadultemail}}
                {% endif %}
            {% endif %}
        {% endif %}
    {% endfor %}

        <table class="table">
            <tr>
                <th>Date</th><th>Student</th><th>Status</th><th>working on...</th><th>Synchronous</th><th>Camera Off Reason</th>
            </tr>
            {% for checkin in checkins %}
            
            <tr>
                <td>
                    {{moment(checkin.createdate).format('h:mm a') }} <br> 
                    <a class="btn btn-info btn-sm loadingModal" role="button" href="/deletecheckin/{{checkin.id}}/{{gclassid}}/{{gclassname}}">Delete</a>
                </td>
                <td>
                    <a href="/profile/{{checkin.student.aeriesid}}">
                        {{checkin.student.afname}} 
                        {% if checkin.student.ufname %}
                            ({{checkin.student.ufname}})
                        {% endif %}
                        {{checkin.student.alname}} {{checkin.student.aeriesid}}
                    </a> <br> {{checkin.student.cohort}} 
                </td>
                {% if checkin.status == '4' or checkin.status == '5' %}
                    <td class="bg-success"> 
                {% elif checkin.status == '3' %}
                    <td class="bg-warning"> 
                {% else %}
                    <td class="bg-danger"> 
                {% endif %}
                {{checkin.status}} </td>
                <td> {{checkin.desc}} </td>
                <td> {{checkin.synchronous}} </td>
                <td>
                    {% if checkin.cameraoff %}
                        {% if checkin.cameraoffreason.lower() == "other" %}
                            Other: {{checkin.cameraoffreasonother}}
                        {% else %}
                            {{checkin.cameraoffreasonother}}
                        {% endif %}
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </table>
    {% else %}
        <br> <h3>No checkins yet for this class on this date.</h3>
    {% endif %}
    <br>
    {% for stu in notcheckedstus %}
    {{querydate.strftime('%m/%d/%y')}}, {{ stu.fname }} {{ stu.lname }}, {{ stu.aeriesid }}, B <br>
    {% endfor %}
    {% for checkin in checkins %}
    {{querydate.strftime('%m/%d/%y')}}, {{checkin.student.fname}} {{checkin.student.lname}}, {{checkin.student.aeriesid}}, E <br>
    {% endfor %}



</div>

<script type="text/javascript">

    jQuery(document).ready(function() {
        var today = new Date();
        var monthStringDate = (today.getMonth()+1).toString();

        if (monthStringDate.length == 1) {
            monthStringDate = '0'+monthStringDate;
        }

        var dayStringDate = today.getDate().toString();
        if (dayStringDate.length == 1) {
            dayStringDate = '0'+dayStringDate;
        }

        var todayStringDate = today.getFullYear()+"-"+monthStringDate+"-"+dayStringDate;
        var searchDate = '{{searchdatetime}}'.substring(0,10);

        $('.today').hide();
        if (todayStringDate == searchDate) {
            $('.today').show();
        }
    });

</script>

{% endblock %}

