{% extends 'base.html' %}

{% block body %}
<div class="container">
    <form method=post>
        {{ dateForm.hidden_tag() }}{{ dateForm.querydate() }} 
        <span class="loadingModal">{{dateForm.submitDateForm()}}</span>
    </form>

    {% if gclassname %}
    <h3><span class="showDate"></span> in {{gclassname}}</h3>
    {% endif %}

    {% for field in dateForm.errors %}
        {% for error in dateForm.errors[field] %}
            <div class="alert alert-error">
                <strong>Error!</strong>{{field}}: {{error}}
            </div>
        {% endfor %}
    {% endfor %}

    {% if stuFormErrors %}
    {% for field in stuFormErrors %}
        {% for error in stuFormErrors[field] %}
            <div class="alert alert-error">
                <strong>Error!--></strong>{{field}}: {{error}}
            </div>
        {% endfor %}
    {% endfor %}
    {% endif %}

    {% if checkins%}
    <span class="today">
        {% if session.isadmin == True %}
            <a class="btn btn-info btn-sm" role="button" href="/checkinsfor/{{gclassid}}/1">Send Txt Reminder to check in!</a> 
        {% endif %}
    </span>

    <br>
    <b>These students have not checked in</b><br>
    <em><u>To mark students as here, click the checkbox and hit submit.</u></em><br>
        {% if stuForm %}
            <form method=post>
                {{ stuForm.hidden_tag() }} 
                <div class="row">
                    {% for student in stuForm.student %}
                        <div class="col-md-6 col-lg-4 col-xl-3">{{loop.index}}: {{ student }} {{ student.label }}</div>
                    {% endfor %}
                </div>
                <span class="loadingModal">{{ stuForm.submitStuForm() }}</span>
            </form>
        {% endif %}

    <br>
    
    <b>Student Email Addresses</b> <br>
        {% for stu in notcheckedstus | sort(attribute="lname,fname")  %}
            {% if stu.gid %}
                {{stu.otemail}}, 
            {% endif %}
        {% endfor %}

        <table class="table">
            <tr>
                <th>Date</th><th>Student</th><th>Productive?</th><th>What they said they did</th><th>What they said they would do</th>
            </tr>
            {% for checkin in checkins %}
            
            <tr>
                <td>
                    {{moment(checkin.createdate).format('h:mm a') }} <br> 
                    <a class="btn btn-info btn-sm loadingModal" role="button" href="/deletecheckin/{{checkin.id}}">Delete</a>
                </td>
                <td>
                    <a href="/profile/{{checkin.student.aeriesid}}">
                        {{checkin.student.fname}} {{checkin.student.fname}} {{checkin.student.aeriesid}}
                    </a> <br> {{checkin.student.cohort}} 
                </td>
                {% if checkin.status == '4' or checkin.status == '5' %}
                    <td class="bg-success"> 
                {% elif checkin.status == '3' %}
                    <td class="bg-warning"> 
                {% else %}
                    <td class="bg-danger"> 
                {% endif %}
                {{checkin.status}} </td>
                <td> {% if checkin.desc %}{{checkin.desc}} {% endif %}</td>
                <td>
                    {{checkin.workingon}}
                </td>
            </tr>
            {% endfor %}
        </table>
        <br>
        {% for stu in notcheckedstus %}
        {{querydate.strftime('%m/%d/%y')}}, {{ stu.fname }} {{ stu.lname }}, {{ stu.aeriesid }}, B <br>
        {% endfor %}
        {% for checkin in checkins %}
        {{querydate.strftime('%m/%d/%y')}}, {{checkin.student.fname}} {{checkin.student.lname}}, {{checkin.student.aeriesid}}, E <br>
        {% endfor %}
    {% else %}
        No checkins. <br>
        <h2>All students</h2>
        {% if stuForm %}
            <form method=post>
                {{ stuForm.hidden_tag() }} 
                <div class="row">
                    {% for student in stuForm.student %}
                        <div class="col-md-6 col-lg-4 col-xl-3">{{loop.index}}: {{ student }} {{ student.label }}</div>
                    {% endfor %}
                </div>
                <span class="loadingModal">{{ stuForm.submitStuForm() }}</span>
            </form>
        {% endif %}

    {% endif %}



</div>

<script type="text/javascript">
    // momentjs has a lot more options than flask-moment
    // I use it here because falsk-moment assumes are datetimes are UTC and this is sent as 
    // 'US/Pacific' not naive and momentjs can recognize that.
    // Also, I can customize how moment.calendar() writes, in this case, removing the time.
    jQuery(document).ready(function() {
 
        var searchDateMoment = moment('{{searchdatetime}}').calendar(null,{
            lastDay : '[Yesterday]',
            sameDay : '[Today]',
            nextDay : '[Tomorrow]',
            lastWeek : '[Last] dddd',
            nextWeek : 'dddd',
            sameElse : 'L'
        })

        $('.showDate').html(searchDateMoment);

    });

</script>

{% endblock %}

