{% extends 'base.html' %}

{% block body %}
<div class="container-fluid">
<h1 class="display-3">{{gClassroom.gclassdict['name']}}</h1>

<div class="row">
    <!--Checkin Form Column-->
    <div class="col-12 border border-3">
        <h3 class="display-5 mb-0">Checkin</h3>
        {% if form %}
          {% for field in form.errors %}
              {% for error in form.errors[field] %}
                  <div class="alert alert-error">
                      <strong>Error!</strong>{{field}}: {{error}}
                  </div>
              {% endfor %}
          {% endfor %}
          
          <div class="row form-group">
            <div class="col">
              <form id="modalform" method=post>
                {{ form.hidden_tag() }}
                <p>Were you productive since last class?<font color="red">*</font>: {{form.status(class="form-control")}}</p>
                
            </div>
            <div class="col">
              <p>
              What assignment are you working on<font color="red">*</font>:<br>
              {{form.assigns(class="form-control")}}
              </p>
            </div>
            </div>
            <p>
              If you chose other, what are you gonna do?<font color="red">*</font>: <br>
              <small>Be specific!</small>
              <br>{{form.desc(class="form-control")}}
            </p>
            <p>{{form.submit(class="form-control btn-primary")}}</p>
          </form>
          {% if lastCheckIn %}
          <h5>Last Check In</h5>
      
      <table class="table">
        <tr>
          <td></td><th>Date</th><th>Were You Productive?</th><th>Desc</th>
        </tr>
        <tr>
            <td><a href="/deletecheckin/{{lastCheckIn.id}}"><img width="20" src="/static/delete.png"></a></td>
            <td>{{moment(lastCheckIn.createdate).calendar()}}</td>
            <td>{{lastCheckIn.status}}</td>
            <td>{{lastCheckIn.desc}}</td>
        </tr>

      </table>
          
    {% endif %}
          </div>
        {% endif %}
    </div>
  </div>
  

  <!--Help Column-->
  <div class="row">
    <div class="col-lg-11 col-xl-7 my-3 border-3 border-top border-bottom border-start">
      <div class="row my-3">
        <div class="col-2"><h3 class="display-5 mb-0">Help</h3></div>
        <div class="col-2 mb-0"> <p> <a href="/help/create/{{gClassroom.gclassid}}" class="btn btn-info btn-sm" role="button">Request Help</a></p></div>
        <div class='col mb-0'>
          {% if tokens and tokens > 1%}
            You have earned {{tokens}} tokens.
          {% else %}
            You have earned {{tokens}} token.
          {% endif %}
        </div>
      </div>
      
      <table class="table table-sm">
      {% if myHelps %}
          <tr><th colspan=6> My Requests </th></tr>
          <tr>
            <td></td><th>Created</th><th>Status</th><th>Helper</th><th>Notes</th>
          </tr>
        {% for myHelp in myHelps | sort(attribute="status") | sort(reverse=true,attribute="created") %}
          <tr>
            <td>
              {% if (myHelp.status != "confirmed" and myHelp.status != "rejected") or currUser.role.lower() == "teacher" %}
              <a href="/help/delete/{{myHelp.id}}">
                  <img src="/static/delete.png" width="20" alt="">
              </a> 
              {% endif %}
              {% if myHelp.helper and myHelp.status != "confirmed" and myHelp.status != "rejected" %}
                | <a href="/help/confirm/{{myHelp.id}}">Confirm</a>
              {% endif %}
            </td>
            <td>
              {{moment(myHelp.created).calendar()}}
            </td>
            <td>
              {{myHelp.status}}
            </td>
            <td>
              {% if myHelp.helper %}
                offered: {{myHelp.helper.fname}} {{myHelp.helper.lname}}
              {% elif myHelp.reqhelper %}
                requested: {{myHelp.reqhelper.fname}} {{myHelp.reqhelper.lname}}
              {% else %}----{% endif %}
            </td>
            <td>
              {% if myHelp.confirmdesc %}{{myHelp.confirmdesc}}{% endif %}
              {% if myHelp.confirmdesc and myHelp.note %}<br>{% endif %}
              {% if myHelp.note %}{{myHelp.note}}{% endif %}
            </td>
          </tr>
        {% endfor %}
      {% endif %}

      {% if myOffers %}
        <tr><th colspan="3">My Offers</th><th>Requester</th><th></th><th></th></tr>
        {% for myOffer in myOffers | sort(attribute="status",reverse=True) | sort(attribute="created",reverse=true)  %}
            <tr>
              <td>
                {% if myOffer.status == "offered" %}
                  <a href="/help/recind/{{myOffer.id}}">un-Offer</a>
                {% endif %}
                {% if currUser.role.lower() == "teacher" %}
                  <a href="/help/delete/{{myOffer.id}}">
                      | <img src="/static/delete.png" width="20" alt="">
                  </a> 
                {% endif %}
              </td>
              <td>{{moment(myOffer.created).calendar()}}</td>
              <td>{{myOffer.status}}</td>            
              <td>{{myOffer.requester.fname}} {{myOffer.requester.lname}}</td>
              <td>{{myOffer.gclass.gclassdict['name']}}</td>
              <td>{{moment(myOffer.offered).calendar()}}</td>
            </tr>
        {% endfor %}
      {% endif %}
     

      {% if helps %}
      <tr>
        <th colspan="3"><h3>Requests for Help</h3><th><u>Requester<br>Helper</th></th>
      </tr>
      
      <p>
        {% for help in helps | sort(attribute="status") | sort(attribute="created", reverse=true) %}
        <tr>
          <td>
            {% if not help.helper %}<a href="/help/offer/{{help.id}}">Offer</a> {% endif %}
            {% if currUser.role.lower() == "teacher" %}
              <a href="/help/delete/{{help.id}}">
                  | <img src="/static/delete.png" width="20" alt="">
              </a> 
              | <a href="/help/confirm/{{help.id}}">Confirm</a>
            {% endif %}
          </td>
          <td>{{moment(help.created).calendar()}}</td>
          <td>{{help.status}}</td>
          <td>
            {{help.requester.fname}} {{help.requester.lname}}
            {% if help.helper %}
              /<br>{{help.helper.fname}} {{help.helper.lname}} 
            {% endif %}
          </td>
          <td>{{help.gclass.gclassdict['name']}}</td>
          <td>{% if help.offered %}{{moment(help.offered).calendar()}}{% else %}----{% endif %}</td>
        </tr>
      
        {% endfor %}
      {% endif %}
    </table>
    </div>
    <!--Break Column-->
    <div class="col-lg-11 col-xl-5 my-3 pb-3 border border-3">
        <h3 class="display-5 mb-0">Break</h3>

      <p class="my-0">Please checkin first.</p>
      <div class="m-0" id="breakstarted">
        Last Break started: {{moment(currUser.breakstart).format('MM/DD/YYYY, h:mm:ss a')}} <br>
        <p class="my-0" id="breakover"><!--Time till over goes here by JS--></p>
        <p id="countdown"><!--Countdown Timer inserted here by JS.--></p>
      </div>
      <div id="startbreak">
        <p id="lastbreak"></p>
        <p> <a href="/breakstart/{{gClassroom.gclassid}}" class="btn btn-info btn-sm" role="button">Start Break</a></p>
      </div>

      <iframe class="mb-3" width="100%" height="100%" src="/breaks/{{gClassroom.gclassid}}" id="breaksFrame" title="Breaks Frame"></iframe>

    </div>
  </div>

    {% if session.role.lower()=="teacher" %}
    <a href="/tokens/award/{{gClassroom.gclassid}}">Award Tokens</a>

    <hr>
    <h1 class="display-5">Approve Helps</h1>
    <a class="btn btn-primary btn-sm" role="button" href="/approveallconfirmed/{{gClassroom.gclassid}}">Approve ALL Remaining</a>
    <table class="table">
        <tr><th></th><th>Helped</th><th>Helper</th><th>Status</th><th>Created</th><th>Description of Help</th></tr>
        {% for help in approveHelps | sort(attribute="created", reverse=true) | sort(attribute="status")%}
        {% if help.requester.role.lower() == 'student' and help.helper.role.lower() == 'student' %}
            <tr>
                <td>
                    <a href="/approvehelp/{{help.id}}">Approve</a>
                    /
                    <a href="/rejecthelp/{{help.id}}">Reject</a>
                    /
                    <a href="/help/delete/{{help.id}}">
                        <img src="/static/delete.png" width="20" alt="">
                    </a> 
                </td>
                <td>{{help.requester.fname}} {{help.requester.lname}}</td>
                <td>{{help.helper.fname}} {{help.helper.lname}}</td>
                <td>{{help.status}}</td>
                <td>{{moment(help.created).calendar()}}</td>
                <td>{{help.confirmdesc}} {% if help.note %}<br><font color="red">{{help.note}}</font>{% endif %}</td>
            </tr>
        {% endif %}
        {% endfor %}
    </table>
    </div>
    {% endif %}
</div>



<script type="text/javascript">

    jQuery(document).ready(function() {
  
      $(".waitMsg").click(function() {
        console.log('Roster')
        $(".loadMsg").html("<em>Will take a min for a large class.</em>"); 
      });
  
      $('#breakstarted').hide();
      $('#startbreak').hide();
      var today = new Date();
      today = moment(today)
      //var currTime = today.getHours() + ":" + today.getMinutes() + ":" + today.getSeconds();
      //$(".today").html(today)
  
      if ('{{currUser.breakstart}}' != 'None') {
        var breakstart = moment.utc('{{currUser.breakstart}}').toDate();
        breakstart = moment(breakstart).local();
      } else {
        breakstart = moment().startOf('day');
      }
      var breakends = moment(breakstart).add('{{currUser.breakduration}}', 'minutes');
      breakends = moment(breakends).format('MM/DD/YYYY, h:mm:ss a')
  
      if (moment().diff(breakstart, 'minutes') > 90) {
        $('#startbreak').show();
        if ('{{currUser.breakstart}}' != "None") {
          var lastbreak = "Last break was: " + moment(breakstart).calendar() + "<br>"
          $("#lastbreak").html(lastbreak)
        } 
      } else {
        $('#breakstarted').show();
      }
  
      var difference = moment().diff(breakstart, 'seconds')
      if (difference < 600) {
        $("#breakover").html("<font color='green'>Break is over at: " + breakends + "</font>")
      }
  
      if (moment().diff(breakstart, 'minutes') < 90) {
      // Countdown Timer!!
      // Set the date we're counting down to
      var countDownDate = new Date(breakends);
  
      // Update the count down every 1 second
      var countDownInterval = setInterval(function() {
  
        // Get today's date and time
        var now = new Date().getTime();
  
        // Find the distance between now and the count down date
        var distance = countDownDate - now;
  
        // Time calculations for days, hours, minutes and seconds
        // var days = Math.floor(distance / (1000 * 60 * 60 * 24));
        // var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
        var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
        var seconds = Math.floor((distance % (1000 * 60)) / 1000);
  
        // Display the result in the element with id="countdown"
        // document.getElementById("demo").innerHTML = days + "d " + hours + "h "+ minutes + "m " + seconds + "s ";
        if (seconds < 10) {
          seconds = "0"+seconds;
        }
        document.getElementById("countdown").innerHTML = "<font color='blue'><b>Timer " + minutes + ":" + seconds +"</b></font>";
        document.title = "Break: "+ minutes + ":" + seconds
  
        // If the count down is finished, write some text
        if (distance < 0) {
          clearInterval(countDownInterval);
          document.getElementById("countdown").innerHTML = "<font color='green'><b>Break ended at "+breakends+"</b></font>";
          document.title = "Break is Over";
        }
      }, 1000);
    }
   });

   if ('{{breaks|length}}' > 0 && '{{currUser.role.lower()}}'=="teacher") {
      var refreshInterval = setInterval(function() {
        //location.reload();
        document.getElementById('breaksFrame').contentDocument.location.reload(true);
      }, 30000);
    }
  </script>
  
{% endblock %}