{% extends "base.html" %}

{% block body %}
    <div class="container">
        <h1>What did you learn?</h1>
        {% for field in form.errors %}
            {% for error in form.errors[field] %}
                <div class="alert alert-error">
                    <strong>Error!</strong>{{field}}: {{error}}
                </div>
            {% endfor %}
        {% endfor %}
        <form class="needs-validation" method=post>
            {{ form.hidden_tag() }}
            What did you learn? <br>
            <small>Be specific! Look at the examples below."</small><br>
            {{form.field(class_="form-control")}}
            {{form.submit()}}
        </form>
        <div class="row">
            <div class="col">
                <h1 class="display-3">Examples</h1>
                <h4>The Good</h4>
                <p>Be good or you won't earn the tokens!</p>
                <ul>
                    <li>I learned how to use the "And" "Or" statements</li>
                    <li>i learned how to use console logs better</li>
                    <li>i learned how to call for a function and how a function works</li>
                </ul>
                <h4>The Bad</h4>
                <ul>
                    <li>Helped me with Conditionals Make</li>
                    <li>Worked on some stuff I didn't understand</li>
                    <li>Totally did good stuff that was great</li>
                </ul>
                <h4>The Ugly</h4>
                <ul>
                    <li>...</li>
                </ul>
            </div>
            <div class="col">
                <iframe class="mt-5" width="560" height="315" src="https://www.youtube.com/embed/IFNUGzCOQoI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>            </div>
        </div>
        



        
    </div>
{% endblock %}
