{% extends 'base.html' %}

{% block body %}
<div class="container">
<br> <br>
    {% for field in form.errors %}
        {% for error in form.errors[field] %}
            <div class="alert alert-error">
                <strong>Error!</strong>{{field}}: {{error}}
            </div>
        {% endfor %}
    {% endfor %}
    <h1>Edit the Classname for {{editGClass.gclassroom.gclassdict.name}}</h1>
    <ul>
        <li>
            This edit can only be seen by you and only on this site.
        </li>
        <li>
            Rename classes to help you identify the class by using the name you want.
        </li>
        <li>
            This name will also effect the sort order of your classes:
            <ul>
                <li>
                    add a '~' at the beginning it will force it to the end
                </li>
                <li>
                    add a '!' at the beginning it will force it to the beginning
                </li>
                <li>
                    add a number or a letter then a number ie: a1, a3, a5, a7, b2, b4, b6, b8
                </li>
            </ul>
        </li>
    </ul>
    <br>
    <form class="row" method=post>
        {{ form.hidden_tag() }} 
            <div class="col-5">
                Custom Name: <br>
                {{ form.classname(class="form-control") }} 
            </div>
            <div class="col-auto">
                status: <br>
                {{ form.status(class="form-control") }} 
            </div>  
            <div class="col-auto">
                <br>
                {{ form.submit(class="form-control") }}
            </div>
    </form>
    <br>
    <table> 
        <td><a href="/deletegclass/{{editGClass.gclassid}}" class="btn btn-danger btn-sm" role="button">Delete this class</a></td>
        <td><small><--This will only remove the class from OTData. It will not delete the class from Google Classroom. <br><--If the class 
            still exists in Google Classroom it will re-appear when you update your classes.</small></td>
    </table>
</div>
{% endblock %}