{% extends 'base.html' %}

{% block body %}
<div class="container">

<h1><font color="red">Work in Progress</font></h1>
    <h1>Missing Assignments for {{stu.afname}} {{stu.alname}}</h1>
    {% for gclass in stu.gclasses %}
        {% if gclass.status and gclass.status.lower() == "active" and gclass.nummissing|int > 0 %}
            <h3>{{gclass.gclassroom.gclassdict.name}}</h3>
            {% for ass in gclass.missingasses.missing %}
                {{ass}} <br><br>
            {% endfor %}
        {% endif %}
    {% endfor %}

</div>
{% endblock %}