{% extends "base.html" %}

{% block body %}
    <div class="container">
        <h1>Form Page Title</h1>
        {% for field in form.errors %}
            {% for error in form.errors[field] %}
                <div class="alert alert-error">
                    <strong>Error!</strong>{{field}}: {{error}}
                </div>
            {% endfor %}
        {% endfor %}
        <form method=post>
            {{ form.hidden_tag() }}
            <table class="table">
            <tr><td>afname</td><td>{{form.afname}}</td></tr>
            <tr><td>alname</td><td>{{form.alname}}</td></tr>
            <tr><td>oemail</td><td>{{form.oemail}}</td></tr>
            <tr><td>aeriesid</td><td>{{form.aeriesid}}</td></tr>
            <tr><td>grade</td><td>{{form.grade}}</td></tr>
            <tr><td colspan="2">{{form.submit()}}</td></tr>
            </table>
        </form>
        
    </div>
{% endblock %}
