{% extends 'base.html' %}

{% block body %}

<div class="container">
    <div class="row">
        <div class="col">
            <h1>Google Roster for {{gclassname}}</h1>
            <em>Email addresses for students and parents of this class at the bottom of the page.</em> <br>
            <a href="/getroster/{{gclassid}}">Update roster from google</a>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <table class="table">
                <tr>
                    <th colspan='3'>Google Classroom Guardians</th>
                </tr>
                </tr>
                <tr>
                    <th>

                    </th>
                    <th>
                        <a href="/rostersort/{{gclassid}}" class="btn btn-primary btn-sm" role="button">Cohorts</a>

                    </th>
                    <th>Student</th>
                    <th>
                        Active Guardians<br>
                        <small><a href="/getguardians/{{gclassid}}" class="guardianUpdate">Update</a></small>
                    </th>
                    <th>Pending Invites<br><small>to someone</small></th>
                    <th>Invite These Adults<br><small>click their names</small></th>
                </tr>
            {% if otdstus %}
            {% for stu in otdstus %}
                <tr>
                    <td nowrap>
                        <a data-toggle="tooltip" data-placement="top" title='Delete' href="/genrollment/delete/{{stu.id}}/{{stu.gclassroom.gclassid}}">
                            <img src="/static/delete.png" width="20">
                        </a>
                        <br>
                        <small>{{moment(stu.createdate).calendar()}}</small>    
                    </td>
                    <td>
                        {% if stu.owner.sortCohort %}{{stu.owner.sortCohort}}{%else%}-{% endif %}
                    </td>
                    <td nowrap>
                        <a href="/profile/{{stu.owner.aeriesid}}">{{stu.owner.afname}} {{stu.owner.alname}}</a> 
                        <!--a data-toggle="tooltip" data-placement="top" title="Add student to the class" href="/addgclass/{{stu.owner.otemail}}/{{gclassid}}"><img width=20 src="/static/new.png"></a-->
                        <br> 
                        {% if stu.owner.cohort %}
                        {% if stu.owner.cohort[:7] == "Oakland" and stu.owner.cohort[13:16] == "Eng" %}
                            <small>{{stu.owner.cohort[13:]}}</small>
                        {% elif stu.owner.cohort[:7] == "Oakland" %}
                            <small>{{stu.owner.cohort[14:]}}</small>
                        {% else %}
                            <small>{{stu.owner.cohort}}</small>   
                        {% endif %}   
                    {% endif %}

                    </td>
                    <td>
                        {% if stu.owner.gclassguardians %}
                        {% for guardian in stu.owner.gclassguardians.guardians %}
                            {% if guardian.guardianProfile and guardian.guardianProfile.id %}
                                {{guardian.guardianProfile.name.fullName}}
                            {% endif %}
                        {% endfor %}
                        {% endif %}
                    </td>
                    <td>
                        {% if stu.owner.gclassguardianinvites %}
                        {% for invite in stu.owner.gclassguardianinvites.guardianInvitations %}
                        <small>{{invite.creationTime[5:10]}}-{{invite.creationTime[2:4]}}</small> <br>
                        {% endfor %}
                        {% endif %}
                    </td>
                    <td>
                        <a href="/inviteguardians/{{stu.owner.gid}}/{{gclassid}}/{{gclassname}}">
                            {% if stu.owner.adults %}
                            {% for adult in stu.owner.adults %}
                                <em>{{adult.fname}} {{adult.lname}}</em>, 
                            {% endfor %}
                            {% elif stu.owner.aadults %}
                                {{stu.owner.aadults}}

                            {% endif %}
                        </a>
                    </td>
                </tr>

            {% endfor %}
            
            </table>
            <br>
            <small>
                * Student does not have a record on OTData. Probably 'cause they are frosh on new to the school this year <br>
                (m) Student has a mobile <br>
                (u) Student does not have this class as sctive <br>
                (ot) Parents are rom OTData  <br>
                (a) parents are from aeries
            </small>
            <br> <br>
            <b>Student Emails:</b>
            <!-- This gets the sortCohort from the students record and uses it if it is different that what is in otdstus
                 TODO this needs to be fixed so that it makes more sense. It may not be necessary because roster.py 
                 also gets this value from the User's record in the getroster function.-->
            {% set cohort = {'currCohort' : otdstus.sortCohort} %}
            <h3>{{otdstus.sortCohort}}</h3>


            {% for stu in otdstus %}
                {% if stu.owner.sortCohort != cohort.currCohort %}
                    <h3>{{stu.owner.sortCohort}}</h3>
                    {% do cohort.update({'currCohort' : stu.owner.sortCohort}) %}
                {% endif %}
                {{ stu.owner.otemail }}, 
            {% endfor %}

            <br> <br>
            <b>Parent Emails:</b> 
            {% set cohort = {'currCohort' : otdstus.sortCohort} %}
            <h3>{{otdstus.sortCohort}}</h3>
            {% for stu in otdstus %}
                {% if stu.owner.sortCohort != cohort.currCohort %}
                    <h3>{{stu.owner.sortCohort}}</h3>
                    {% do cohort.update({'currCohort' : stu.owner.sortCohort}) %}
                {% endif %}
                {% if stu and stu.owner.adults %}
                    {% for adult in stu.owner.adults %}
                        {{ adult.email }}, 
                    {% endfor %}
                {% elif stu and stu.owner.aadultemail %}
                    {{stu.owner.aadultemail}},
                {% endif %}
            {% endfor %}   
        {% else %}
        No Roster
        {% endif %}     
        </div>
    </div>
</div>

{% endblock %}
