{% extends 'base.html' %}

{% block body %}
<div class="container">


    
    <table class="table">
    <tr><th>Cohort <small><a href="/rostersort/{{gclassroom.gclassid}}/sort">(Sort)</a></small></th><th>Student</th><th>Cohorts <a href="/sortcohorts/{{gclassroom.gclassid}}"><img width="20" src="/static/edit.png"></a></th><th>Submit</th></tr>
    {% for i in range(numForms) %}  
        
        <tr>
            <td>
                {{groster[i].sortCohort}}
            </td>
            <td>
                {{groster[i].owner.fname}} {{groster[i].owner.lname}}
                
                <form method=post>
                {{forms["form"+i|string].hidden_tag()}}
            </td>
            <td class="border">
                {{forms["form"+i|string].sortOrderCohort()}}
            </td>
            <td>
                {{forms["form"+i|string].gid()}}
                {{forms["form"+i|string].gmail()}}
                {{forms["form"+i|string].gclassid()}}
                {{forms["form"+i|string].order()}}
                {{forms["form"+i|string].submit(value=i|string)}}
                </form> 
            </td>
        </tr>
    {% endfor %} 
</table>



</div>
{% endblock %}