{% extends 'base.html' %}

{% block body %}
<a class="btn btn-secondary btn-sm" role="button" href="/findstudent">Find A Student</a> 

<div class="container mt-3">
{% for field in form.errors %}
    {% for error in form.errors[field] %}
        <mark>
            <strong>Error!</strong> {{field}}: {{error}} <br>
        </mark>
    {% endfor %}
{% endfor %}
{% if users %}
        RESULTS: 
        <a href="#table">table</a> | 
        <a href="#students">student emails</a> | 
        <a href="#parents">parent emails</a>
{% endif %}
<form method=post>
    {{ form.hidden_tag() }} 

    <div class="row">

        <div class="col text-nowrap">
            <h3>Ethnicities</h3>
            {% for eth in form.ethnicity %}
                {{eth}} {{eth.label}} <br>
            {% endfor %}
        </div>

        <div class="col text-nowrap">
        <h3>Grades</h3>
        {% for grade in form.grade %}
                {{grade}} {{grade.label}}
        {% endfor %}
        
        <h3>Genders</h3>
        {% for gender in form.gender %}
                {{gender}} {{gender.label}}
        {% endfor %}

        <h3>Cohorts</h3>
        {% for cohort in form.cohort %}
            {{cohort}} {{cohort.label}} <br>
        {% endfor %}
        Display results: {{form.results()}} <br>
        {{form.submit()}}
        </div>
        
    </div>
</form>
{% if users %}
<a id="table"></a>
<hr>
<br>RESULTS: 
<a href="#table">table</a> | 
<a href="#students">student emails</a> | 
<a href="#parents">parent emails</a>
<h1>Total students {{total}}</h1>
<table class="table">
    <tr>
        <th>ID</th><th>name</th><th>Email</th><th>cohort</th><th>ethnicity</th><th>grade</th><th>gender</th>
    </tr>
{% if users %}
{% for user in users | sort(attribute="alname,afname") %}
    <tr>
        <td>{{user.aeriesid}}</td>
        <td><a href="/profile/{{user.aeriesid}}">{{user.fname}} {{user.lname}}</a></td>
        {% if user.grade > 12 and user.personalemail %}
            <td>{{user.personalemail}}</td>
        {% else %}
            <td>{{user.otemail}}</td>
        {% endif %}
        <td>{{user.cohort}}</td>
        <td>{{user.aethnicity}}</td>
        <td>{{user.grade}}</td>
        <td>{{user.agender}}</td>
    </tr>
{% endfor %}
{% endif %}
</table>
<hr>
<a id="students"></a>
<br>RESULTS: 
<a href="#table">table</a> | 
<a href="#students">student emails</a> | 
<a href="#parents">parent emails</a>
<h1>Student emails</h1>
{% for user in users %}
    {% if user.grade > 12 and user.personalemail %}
    {{user.personalemail}},
    {% else %}
    {{user.otemail}},
    {% endif %}
{%endfor%}
<hr>
<a id="parents"></a>
<br>RESULTS: 
<a href="#table">table</a> | 
<a href="#students">student emails</a> | 
<a href="#parents">parent emails</a>
<h1>Parent emails</h1>
{% for user in users %}
    {{user.aadultemail}},
    {% for adult in user.adults %}
        {{adult.email}},
    {% endfor %}
{%endfor%}
{% endif %}

</div>
{% endblock %}