{% extends 'base.html' %}

{% block body %}
<div class="container">

<h1 class="display-3">{{gClassroom.gclassdict['name']}}</h1>
Last <a href="/getstudsubs/{{gClassroom.gclassid}}">Update</a> of data: {{moment(gClassroom.studsubsdict['lastUpdate']).calendar()}} <br> <br>
<div class="row">
   <div class="col">
      <div class="row">
         <div class="col">
            <h1 class="display-6">Median: {{median}}</h1>
            <small>Orange Line</small>
         </div>
         <div class="col">
            <h1 class="display-6">Mean: {{mean}}</h1>
            <small>Green Triangle</small>
         </div>
      </div>
      <img class="img-fluid" src="/static/{{gClassroom.gclassid}}.png">
      <small>If you don't see an image here, refresh the screen and it should show up.</small>
   </div>
   <div class="col">
      {{displayDFHTML}}
   </div>   
</div>
{% if parents %}
<script type="text/javascript">
   function copyToClipboard(elementId) {
      // Create a "hidden" input
      var aux = document.createElement("input");
      // Assign it the value of the specified element
      aux.setAttribute("value", document.getElementById(elementId).innerHTML);
      // Append it to the body
      document.body.appendChild(aux);
      // Highlight its content
      aux.select();
      // Copy the highlighted text
      document.execCommand("copy");
      // Remove it from the body
      document.body.removeChild(aux);
   }
</script>
   <br><br>
   <button onclick="copyToClipboard('mmerge')">Copy table to paste in Excel</button> <br>
   You have to highlight and copy manually to paste in to Google Sheets
   <div id="mmerge">
      {{parents}}
   </div>
   <br><br>
{% endif %}
</div>


{% endblock %}