{% extends "base.html" %}

{% block body %}
    <div class="container">

        <h1>Award Tokens</h1>

        {% for field in form.errors %}
            {% for error in form.errors[field] %}
                <div class="alert alert-error">
                    <strong>Error!</strong>{{field}}: {{error}}
                </div>
            {% endfor %}
        {% endfor %}

        <form method=post>
            {{ form.hidden_tag() }} <br>
            number of Tokens: <br>{{form.numTokens()}} <br>
            To: <br>{{form.owner()}} <br>
            note: <br>
            <small>Why are you giving/taking these tokens.  Be specific.</small> <br>
            {{form.note(cols="60", rows="10")}} <br>
            {{form.submit()}}
        </form>
        
    </div>
{% endblock %}
